In [62]:
import pandas as pd
import numpy as np

In [63]:
# # # CLEANING DATA # # #
df.info()

## reading the excel sheet into a pandas dataframe ##
df = pd.read_excel(io='Int_Air_Carrier.xlsx', sheet_name="Sheet1")

<class 'pandas.core.frame.DataFrame'>
Index: 244 entries, "1" to "244"
Data columns (total 7 columns):
Outdoor         244 non-null int64
Social          244 non-null int64
Conservative    244 non-null int64
Anxiety         244 non-null float64
Job             244 non-null int64
Job ID          244 non-null int64
Age             244 non-null int64
dtypes: float64(1), int64(6)
memory usage: 15.2+ KB

In [64]:
## Cleaning column names ##

df.columns = ['Observation', 'Outdoor', 'Social', 'Conservative', 'Anxiety', 'Job', 'Job ID', 'Age']
df.head()

  Observation  Outdoor  Social  Conservative  Anxiety  Job  Job ID  Age
0         "1"       10      22             5     49.5    1       1   37
1         "2"       14      17             6    102.5    1       2   42
2         "3"       19      33             7     73.5    1       3   28
3         "4"       14      29            12    106.4    1       4   43
4         "5"       14      25             7    116.6    1       5   32

In [65]:
## Setting the Observation column as the index ##
df = df.set_index(['Observation'])

In [66]:
df.head()

             Outdoor  Social  Conservative  Anxiety  Job  Job ID  Age
Observation
"1"               10      22             5     49.5    1       1   37
"2"               14      17             6    102.5    1       2   42
"3"               19      33             7     73.5    1       3   28
"4"               14      29            12    106.4    1       4   43
"5"               14      25             7    116.6    1       5   32

In [73]:
## removing quotes "" from index ##
rm_quote = lambda x: x.replace('"', '')
#TDB#
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 244 entries, "1" to "244"
Data columns (total 7 columns):
Outdoor         244 non-null int64
Social          244 non-null int64
Conservative    244 non-null int64
Anxiety         244 non-null float64
Job             244 non-null int64
Job ID          244 non-null int64
Age             244 non-null int64
dtypes: float64(1), int64(6)
memory usage: 15.2+ KB

In [68]:
# # # Descriptive Analysis # # #

In [75]:
df.describe()

,Outdoor,Social,Conservative,Anxiety,Job,Job ID,Age
count,244.000000,244.000000,244.000000,244.000000,244.000000,244.000000,244.000000
mean,15.639344,20.676230,10.590164,60.750820,1.922131,41.954918,35.278689
std,4.839933,5.479262,3.726789,27.184442,0.784417,24.789028,12.389935
min,0.000000,7.000000,0.000000,2.400000,1.000000,1.000000,3.000000
25%,13.000000,17.000000,8.000000,43.675000,1.000000,21.000000,27.750000
50%,16.000000,21.000000,11.000000,60.750000,2.000000,41.000000,36.000000
75%,19.000000,25.000000,13.000000,78.550000,3.000000,61.250000,43.250000
max,28.000000,35.000000,20.000000,137.900000,3.000000,93.000000,78.000000

SyntaxError: unexpected EOF while parsing (<ipython-input-70-471045eabc6e>, line 1)

In [ ]:
## Dropping the columns of JID ##
to_drop = ['"JID"']
df.drop(columns=to_drop, inplace=True)
df.head()

In [ ]:
header = ['Observation','Outdoor','Social','Conservative','Anxiety','Job','JID','Age']

In [ ]:
cleaned_df = df.drop(columns=["JID"])
cleaned_df.head()

In [ ]:
cleaned_df = df.drop(columns=["JID"])
cleaned_df.head()